:root {
    --rz-vivid-blue: #001aff;
    --rz-vivid-red: rgb(255, 0, 0);
    --rz-vivid-white: #ffffff;
    --rz-vivid-orange: #ff7300;
    --rz-vivid-green: #1eff00;
    --rz-vivid-pink: #ff00bf;
    --rz-vivid-yellow: #fbff00;
}